/* You can add global styles to this file, and also import other style files */

html{
  background-size: cover;
  background-image: url('../src/assets/CloudBackground.png');
  width: 100%;
  height: 100%;
}
